.project {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project img {
    max-width: 150px;
    border-radius: 5px;
}

.project-description {
    flex: 1;
}

@media (max-width: 600px) {
    .project {
        flex-direction: column;
        text-align: center;
    }

    .project img {
        max-width: 100%;
    }
}